<p id="notice"><%= notice %></p>

<h1>Items</h1>
<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
<%= link_to 'Download Excel', items_path(format: :xlsx), class: 'btn btn-primary' %>
<%= link_to 'Upload Excel', new_items_import_path, class: 'btn btn-primary' %>
<hr>
<table border="2px">
  <thead>
    <tr>
      <th><%= link_to "Name", sort: 'name' %></th>
      <th><%= link_to "Quantity", sort: 'quantity' %></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items %>
